<md-card>
  <md-card-title>{{character.name}}</md-card-title>
  <md-card-subtitle>{{character.alignment}} - {{character.class}}</md-card-subtitle>
  <md-card-content>
    HP: {{character.hp}} / {{character.maxHp}}
    <button md-mini-fab color="primary" (click)="hpUp(character)"><md-icon>keyboard_arrow_up</md-icon></button>
    <button md-mini-fab color="primary" (click)="hpDown(character)"><md-icon>keyboard_arrow_down</md-icon></button>
    <button md-button color="warn" (click)="reset(character)">reset</button>
    <!--<h3>{{character.initiative}}</h3>-->
    <md-input-container>
      <input [ngModel]="character.initiative>0?character.initiative:-1*character.initiative" (ngModelChange)="setInitiative($event)" mdInput type="number" placeholder="Initiative">
    </md-input-container>

  </md-card-content>
</md-card>
